body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin: 25px;
    letter-spacing: .16px;
    background-image: url('../images/ps_neutral.png');
}

.gameBox {
    background-color: skyblue;
    margin: 0 auto;
    border-width: 2px;
    border-color: navy;
    box-sizing: border-box;
}

.horizBar {
    width: 25%;
    margin-left: auto;
    color: navy;
    background-color: transparent;
}

h1, p {
    font-weight: bold;
}

#sub {
    font-size: 13px;
}

.winsCount {
    color: forestgreen;
}

.lossCount {
    color: crimson;
}

footer {
    clear: both;
    background: #666666;
    text-align: center;
    color: #ffffff;
    padding: 30px 10px 10px 30px;
    border-top: 8px solid #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.5;
}

/* MEDIA QUERIES */

@media screen and (max-width: 980px) {
	#crystalBall {
        margin-left: 175px auto;
        padding-bottom: 25px;
	}

	#gameBox {
		margin-left: 40px auto;
	}
}


@media only screen and (max-width: 768px){
	#crystalBall {
        margin-left: 125px auto;
        padding-bottom: 15px;
	}

	#gameBox {
		margin-left: 25px auto;
	}

}


@media only screen and (max-width: 640px){
	#crystalBall {
        margin-left: 70px auto;
        padding-bottom: 10px;
	}

	#gameBox {
		margin-left: 12px auto;
	}
}
